<!-- index.hbs -->
{{!-- Citation for the following function:
Date: 11/21/2024
Adapted from CS 340: nodejs-starter-app (index.hbs)
Majority of the code was copied from the sample code given, and modified based on individual project tables. 
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%200%20-%20Setting%20Up%20Node.js --}} 
<link rel="stylesheet" href="/styles.css">

<body class="home-background">
    <div class="topnav" id="librariesTopnav">
        <a href="/"><button type="button">Home</button></a>
        <a href="/libraries"><button type="button">Libraries</button></a>
        <a href="/books"><button type="button">Books</button></a>
        <a href="/borrowers"><button type="button">Borrowers</button></a>
        <a href="/checkouts"><button type="button">Checkouts</button></a>
        <a href="/booksBorrowers"><button type="button">Books Borrowers</button></a>
        <a href="/staff"><button type="button">Staff</button></a>
    </div>

    <div class="home-content">
        <h1>Welcome to Group 55's Library Database!</h1>
        <p>Our database allows librarians to keep track of multiple libraries in a district, along with information of their books, staff members, patrons, and checkouts.</p>
    </div>
</body>
</html>
